.app-wrapper {
  height: 100%;
  footer {
    // position: fixed;
    bottom: 0;
    width: 100%;
  }
  #main-content {
    flex: 1 0 auto;
  }
  #sticky-footer {
    flex-shrink: none;
  }

.search-area{
  .input-group-text {
    background-color: inherit;
    border: none;
  }
  #search-input {
    transform: scaleX(0);
    opacity: 0;
    transition: opacity .25s, transform .25s;
    transform-origin: 0 0;
      &.show {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}
}