.products-card {
  margin-right: 0;
  margin-left: 0;
  .card {
    margin: 6px;
    transition: 0.3s;
    // &:hover {
    //   border: 1px solid rgba(51, 89, 223, 0.2);
    //   box-shadow: 0 10px 30px 7px rgba(77, 14, 33, 0.08);
    //   z-index: 2;
    //   cursor: pointer;
    // }
  }

.product-details {
  .modal-content {
    display: flex;
    flex-direction: row;
    padding: 40px;
    button:active, input:focus {
        outline: none !important;
    }
    .product-img {
    }
    .details {
      width: 70%;
      padding: 15px;
      display: flex;
      flex-direction: column;
    }
  }
}

}
@media (min-width: 992px) {
  .col-lg-4{
    max-width: 30.333333%;
  }
}
@media only screen and (max-width: 500px) {
  .modal-content {
    flex-direction: column !important;
    align-items: center;
  }
}